/*
 * Variables
 */

$color-background: #EDEDED;
$color-base: #325082;
$color-border-table: #999999;
$color-code: #222222;
$color-darkgray: #666666;
$color-icon-background: #FFFFFF;
$color-text: #222222;
$color-text-inv: #FFFFFF;
